$primary_text_color: #77997d;
$red_text_color: #e72121;
// $red_text_color: hsl(61, 86%, 50%);

:export {
  primaryTextColor: $primary_text_color;
  redTextColor: $red_text_color;
}

.red_text {
  color: $red_text_color
}